h1 {
    color: red;
}
.navbar {
    background-color: aqua;
    color: black;
    width: 200px;
    border: 2px solid brown;
    padding: 20px;
    margin: 10px;
}
.list {
    border: 2px solid brown;
    background-color: pink;
    padding: 10px;
}